<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title|default("bradmontgomery.net") }}</title>
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    <link rel="stylesheet" href="/static/simple.css-2.2.1/simple.min.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        {#<a href="/blog/archive/">Archive</a>#}
        <a href="/blog/tags/">Tags</a>
        <a href="/about/">About</a>
        <a href="/services/">Services</a>
        <a href="/contact/">Contact</a>
      </nav>
      <h1>{{ title }}</h1>
      {% block extra_header %}{% endblock %}
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
    <footer>
      All content copyright &copy; Brad Montgomery.
    </footer>
  </body>
</html>

